@import url(reset.css);

html, body { margin: 0; padding: 0; width: 520px; font: normal 12px/1.4em Arial, Helvetica, sans-serif; }

#gallery { position: relative; width: 520px; }
#gallery .view { width: 520px; height: 390px; overflow: hidden; }
#gallery .controls { margin: 1em 0; }
#gallery .navigation { position: absolute; top: 175px; width: 520px; }
	#gallery .navigation .next { float: right; background-color: #fff; padding: 10px; color: #000; text-decoration: none; }
	#gallery .navigation .prev { float: left; background-color: #fff; padding: 10px; color: #000; text-decoration: none; }
#gallery .caption { position: absolute; background-color: black; color: #fff; padding: 5px 10px; margin-top: -42px; width: 500px; height: 32px; overflow: hidden; }
#gallery .thumbs { width: 420px; margin: 0 50px 0 60px; }
#gallery .thumbs li { float: left; width: 54px; height: 50px; margin-right: 5px; overflow: hidden; }
#gallery .thumbs a { display: block; padding: 2px; }
#gallery .thumbs img { display: block; }
#gallery .thumbs .selected { background-color: black; }
	#gallery .controls .next { float: right; color: #000; text-decoration: none; }
	#gallery .controls .prev { float: left; color: #000; text-decoration: none; }
#gallery form { margin: 0 0 1em 0; }
#gallery .searchMessage { color: red; }
.seethrough { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; }
