/*
    alternative pop up design
*/

.pop_container_notify_alt {
    color: #000000;
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    position: absolute;
    top: 800px;
    width: 480px;
    z-index: 999;
    background-color: #E7E7E7;
}
.pop_container_alt {
    color: #000000;
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    position: absolute;
    top: 500px;
    width: 480px;
    z-index: 999;
    background-color: #E7E7E7;
}
.pop_content_alt {
    direction: ltr;
}

.pop_content_alt .dialog_content_alt {
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
    background: none repeat scroll 0 0 #FFFFFF;
}
.content_overflow_alt {
    height: 300px;
    overflow: auto;
}

.pop_container_advanced {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 415px;
    left: 50%;
    margin-left: -150px;
    *margin-left: -140px;
    color: #000;
    z-index: 999;
}
.pop_container_advanced_big {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
    padding: 10px;
    width: 480px;
    position: absolute;
    top: 261px;
    left: 50%;
    margin-left: -250px;
    *margin-left: -240px;
    color: #000;
    z-index: 999;
}
.pop_container_advanced_small {
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    background: none repeat scroll 0 0 rgba(82, 82, 82, 0.7);
    padding: 10px;
    width: 480px;
    position: absolute;
    top: 600px;
    left: 50%;
    margin-left: -250px;
    *margin-left: -240px;
    color: #000;
    z-index: 999;
}
.pop_content {
    direction: ltr;
}
.pop_content h2.dialog_title {
    background: none repeat scroll 0 0 #6D84B4;
    border: 1px solid #555;
    border-bottom: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.pop_content .dialog_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #555555;
    border-right: 1px solid #555555;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    *font-family: Arial, Helvetica, sans-serif;
    *font-size: 13px;
}
.fb_buttons {
    background-color: #5B74A8;
    background-image: url("http://static.ak.fbcdn.net/rsrc.php/v1/zg/r/wBBYAgOjf8k.png");
    background-position: 0 0 !important;
    background-repeat: no-repeat;
    border-color: #29447E #29447E #1A356E;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    float: right;
    padding: 2px 6px;
    cursor: pointer;
    height: 24px;
    width: 93px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.content_overflow {
    overflow: auto;
    height: 300px;
}
